*target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# IDEA
*.iml
.idea

# other SCS
.svn

# Emacs
*~

#python
venv/

# Rails directories
jobson/src-rails/tmp/
jobson/src-rails/log/
jobson/src-rails/storage/
jobson/src-rails/.byebug_history
jobson/src-rails/workspace/jobs/
jobson/src-rails/workspace/wds/
jobson/src-rails/vendor/bundle/
jobson/src-rails/config/master.key
jobson/src-rails/config/credentials.yml.enc
